html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  height: 100%;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: #47BFA6;
  font-size: 1.75rem;
  font-weight: 100;
}

#weather_card {
  margin: -375px 0px 25px 0px;
}

.weather_info {
  font-size: 3.25rem;
  font-weight: bolder;
  margin: -15px 0px -5px 0px;
  color: #47BFA6;
}

#city {
  font-size: 3rem;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  color: #ffffff;
}

#city_card {
  background-color: #68C9A6;
  position: relative;
  left: -40px;
  top: -25px;
  padding: 15px 0px 0px 25px;
}

#weather_gif {
  position: relative;
  left: -10px;
}

.weather_report {
  padding: 50px 25px 50px 35px;
  color: #FFF176;
  background-color: rgba(255, 255, 255, 0.75);
}

#weather_gif {
  position: relative;
  left: -10px;
}

.weather_report {
  padding: 50px 25px 50px 35px;
  color: #FFF176;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.week_card {
  outline: 1px solid black;
  margin: 15px 15px 0px 15px;
  padding: 10px 0px 0px 0px;
  height: 325px;
}

.hero-image {
  background: url(../imgs/day.jpg) no-repeat center center fixed;
  height: 450px;
}


/* Styles for Mobile */
@media (max-width: 800px) {

  #weather_card {
    margin: -750px 0px 25px 0px;
  }

  .hero-image {
    height: 800px;
  }
}
